---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



<h2>In Review and in Preparation</h2><hr />

<ul>
  <li><b>Henry H*</b>, Moore L, Franklin B, Anarde K, Murray B, &amp; Dalyander S. The effect of climate and management strategies on developed barrier island evolution: Insights from a case study of Hatteras Island. <i>In preparation.</i></li>
  <li><b>Henry H*</b>, Olivas T, McCune K, Dunning K, Willoughby J. Social networks and information silos influence conservation knowledge in tourist populations. <i>In review.</i></li>
  <li><b>Henry H*</b>, Olivas T, Gumbleton S, Beckham N, Steury TD, Willoughby J, &amp; Dunning K. Evaluating the effectiveness of the Marine Mammal Protection Act through operator perspectives and compliance challenges in marine wildlife tourism. <i>In review.</i></li>
  <li><b>Henry H*</b>, Olivas T, Gumbleton S, Beckham N, Steury TD, Willoughby J, &amp; Dunning K. Drivers of human compliance with recreational light reduction on sea turtle nesting beaches. <i>In review.</i></li>
  <li>Olivas T*, <b>Henry H</b>, Gumbleton S, Beckham N, Steury TD, Willoughby J, &amp; Dunning K. An analysis of the marine wildlife interactions with the commercial shrimping industry on the Alabama Gulf Coast. <i>In review.</i></li>
</ul>

<p><small>* denotes corresponding author</small></p>
